.rowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.selectInput {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addTeamBtn {
    height: 40px;
    width: 150px;
    background-color: #5954AF;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.addTeamBtn:hover {
    background-color: #f5f4f9;
    color: #212A34;
    border-color: #5954AF;
}

.input {
    width: 250px;
    align-items: center;
}