.calendarContainer {
    width: 100%;
    max-width: 280px;
    max-height: 350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiPickerStaticWrapper-root,
.MuiCalendarPicker-root {
    width: 100% !important;
    height: 100% !important;
}

.MuiPickersDay-root {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.MuiTypography-root {
    font-size: 14px;
}

.MuiDayPicker-weekContainer {
    margin: 0;
    padding: 0;
}
